<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sakib.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MedicalMainActivity"
            android:label="মেডিকেল ভর্তি"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VarsityActivity"
            android:label="ভার্সিটি জীববিজ্ঞান"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NoticeActivity"
            android:label="নোটিশ"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SubjectListActivity"
            android:label="বিষয়সমূহ"
            android:parentActivityName=".MedicalMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicalMainActivity" />
        </activity>
        <activity
            android:name=".ChapterActivity"
            android:label="অধ্যায়সমূহ"
            android:parentActivityName=".SubjectListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubjectListActivity" />
        </activity>
        <activity
            android:name=".ChapterQuestionActivity"
            android:label="অধ্যায়সমূহ"
            android:parentActivityName=".ChapterActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ChapterActivity" />
        </activity>
        <activity
            android:name=".PrevMedDenQuestionActivity"
            android:label="অধ্যায়সমূহ"
            android:parentActivityName=".MedicalMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicalMainActivity" />
        </activity>
        <activity android:name=".MediDentalPreviousActivity"></activity>
    </application>

</manifest>