<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sakib.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_main"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"></meta-data>

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="Log in"
            android:parentActivityName=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SplashActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MedicalMainActivity"
            android:label="মেডিকেল ভর্তি"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".VarsityActivity"
            android:label="ভার্সিটি জীববিজ্ঞান"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SubjectListActivity"
            android:label="বিষয়সমূহ"
            android:parentActivityName=".MedicalMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicalMainActivity" />
        </activity>
        <activity
            android:name=".ChapterActivity"
            android:label="অধ্যায়সমূহ"
            android:parentActivityName=".SubjectListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SubjectListActivity" />
        </activity>
        <activity
            android:name=".ChapterQuestionActivity"
            android:label="প্রশ্নপত্র" />
        <activity
            android:name=".PrevMedDenQuestionActivity"
            android:label="প্রশ্নপত্র"
            android:parentActivityName=".MedicalMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicalMainActivity" />
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="ফলাফল"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="প্রোফাইল"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MediDentalPreviousActivity" />
        <activity android:name=".PaymentActivity" />
        <activity
            android:name=".RankActivity"
            android:label="মেধাতালিকা"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MeritListActivity"
            android:label="মেধাতালিকা"
            android:parentActivityName=".RankActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RankActivity" />
        </activity>
        <activity
            android:name=".ArchiveActivity"
            android:label="আর্কাইভ"
            android:parentActivityName=".MedicalMainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicalMainActivity" />
        </activity>
        <activity
            android:name=".PackageActivity"
            android:label="প্যাকেজ"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".PackageActivityMedical"
            android:label="মেডিকেল প্যাকেজ"
            android:parentActivityName=".PackageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PackageActivity" />
        </activity>
        <activity
            android:name=".PackageActivityVarsity"
            android:label="ভার্সিটি প্যাকেজ"
            android:parentActivityName=".PackageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PackageActivity" />
        </activity>
        <activity
            android:name=".PackageBuyStatusActivity"
            android:label="প্যাকেজ স্ট্যাটাস"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".RechargeActivity"
            android:label="রিচার্জ"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".DailyExamActivity"></activity>
        <activity android:name=".ArchieveQuestionActivity"></activity>
    </application>

</manifest>